* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template: auto 1fr auto / 1fr 4fr 1fr;
    font-family: Arial, sans-serif;
    background-color: #F7F7F7; 
    line-height: 1.6;
}

#header {
    padding: 20px;
    background-color: #FF5A5F; 
    color: white;
    grid-column: 1 / 4;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

#header h2 {
    font-size: 2.2em;
    margin-bottom: 10px;
}

#nav {
    margin-top: 10px;
    font-style: italic;
}

#aside-left, #aside-right {
    padding: 20px;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

#aside-left {
    grid-column: 1 / 2;
    background-color: #008580; 
}

#aside-right {
    grid-column: 3 / 4;
    background-color: #C18396; 
}

#main {
    grid-column: 2 / 3;
    padding: 20px;
    background-color: #333333;
    color: #F7F7F7; 
    border-radius: 8px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    line-height: 1.8;
}

#main h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

#main p {
    margin-bottom: 15px;
}

#footer {
    grid-column: 1 / 4;
    padding: 15px;
    background-color: #333333; 
    color: white;
    text-align: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); 
}

.keyword {
    font-size: 1.3em;
    color: #FF5A5F; 
}

.btn-volver {
    display: inline-block;
    background-color: #C18396; 
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.btn-volver:hover {
    background-color: #333333; 
}

