/* Reset y estilos generales */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template: auto 1fr auto / 1fr 4fr 1fr;
    font-family: Arial, sans-serif;
    background-color: #F7F7F7; /* Fondo suave */
    line-height: 1.6;
}

#header {
    padding: 20px;
    background-color: #FF5A5F; /* Rojo coral */
    color: white;
    grid-column: 1 / 4;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el encabezado */
}

#header h2 {
    font-size: 2.2em;
    margin-bottom: 10px;
}

#nav {
    margin-top: 10px;
    font-style: italic;
}

#aside-left, #aside-right {
    padding: 20px;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombras para las barras laterales */
}

#aside-left {
    grid-column: 1 / 2;
    background-color: #008580; /* Verde azulado */
}

#aside-right {
    grid-column: 3 / 4;
    background-color: #C18396; /* Rosa pálido */
}

#main {
    grid-column: 2 / 3;
    padding: 20px;
    background-color: #333333; /* Gris oscuro */
    color: #F7F7F7; /* Blanco suave para el texto */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el contenido principal */
    line-height: 1.8;
}

#main h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

#main p {
    margin-bottom: 15px;
}

#footer {
    grid-column: 1 / 4;
    padding: 15px;
    background-color: #333333; /* Gris oscuro */
    color: white;
    text-align: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el pie de página */
}

.keyword {
    font-size: 1.3em;
    color: #FF5A5F; /* Rojo coral para destacar */
}
